@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* navbar, brand logo, hero sizes */
  --nav-small-height: 6rem;
  --nav-mid-height: 7rem;
  --nav-big-height: 8rem;
  --logo-small-size: calc(var(--nav-small-height) / 2);
  --logo-mid-size: calc(var(--nav-mid-height) / 2);
  --logo-big-size: calc(var(--nav-big-height) / 2);

  --hero-small-mt: calc(var(--nav-small-height) + 1rem);
  --hero-mid-mt: calc(var(--nav-mid-height));
  --hero-big-mt: calc(var(--nav-big-height));
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  /*  */
  .home-page-layout {
    @apply py-8;
  }

  /* non-home page layout */
  .page-layout {
    /* mt-[Xrem] to push the content below the navbar on non-home pages */
    @apply mt-[var(--nav-small-height)] 
      py-8 sm:mt-[var(--nav-mid-height)]
      md:mt-[var(--nav-big-height)];
  }

  section:not(#hero) {
    @apply py-8;
  }

  section:not(#hero):nth-of-type(2n) {
    @apply bg-cf-white text-cf-dark dark:bg-cf-dark dark:text-cf-white;
  }

  .layout-gradient {
    @apply bg-gradient-to-r from-stone-100 to-stone-50 text-cf-dark dark:from-cf-dark dark:to-cf-dark dark:text-cf-white;
  }

  h1 {
    @apply text-gradient mb-5 text-4xl font-extrabold sm:text-5xl md:mb-6 md:text-6xl lg:text-7xl xl:text-8xl;
  }

  h2 {
    @apply text-gradient mb-4 text-2xl font-bold sm:text-3xl md:mb-5 md:text-4xl lg:text-5xl xl:text-6xl;
  }
  h3 {
    @apply text-gradient mb-3 text-xl font-semibold sm:text-2xl md:mb-4 md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-gradient mb-2 text-lg sm:text-xl md:mb-3 md:text-2xl;
  }
  h5 {
    @apply text-gradient mb-2 text-base sm:text-lg md:mb-3 md:text-xl;
  }
  h6 {
    @apply text-gradient text-sm sm:text-base md:mb-1 md:text-lg;
  }

  p {
    @apply mt-4 text-cf-dark dark:text-cf-white md:mt-5;
  }

  p,
  ul li span {
    @apply sm:my-4 sm:text-lg md:my-5 md:text-xl;
  }

  ul li span {
    @apply mt-1 inline-block md:mt-2;
  }

  li > * {
    vertical-align: middle;
  }

  /* button, links */
  button,
  a.btn-as {
    @apply rounded-[0.5em] border-none text-base font-extrabold uppercase text-cf-white shadow-sm outline-none transition-all duration-300 ease-in-out sm:text-lg md:text-xl;

    &:not(.btn-hover-small-scale):hover {
      @apply scale-110 rounded-[0.5em];
    }
    &.btn-hover-small-scale:hover {
      @apply scale-105 rounded-[0.5em];
    }
  }

  a.dark-white-link {
    @apply text-cf-dark
      transition-all duration-300 ease-in-out
    hover:text-cf-dark/90 
    dark:text-cf-white 
    dark:hover:text-cf-white/90;
  }

  a.underline-gradient-link {
    @apply relative
      transition-all
      duration-300
      ease-in-out 

      after:absolute 
      after:bottom-[-0.1em] 
      after:left-0
      after:h-[0.1em]
      after:w-0

      after:transition-all
      after:duration-500
      after:ease-in-out
      
      after:content-[""]

      hover:after:w-full
    hover:after:bg-primary/75 
      focus:after:w-full 
    focus:after:bg-primary/75 
      active:after:w-full 
    active:after:bg-primary/75
    dark:hover:after:bg-secondaryDark/75
    dark:focus:after:bg-secondaryDark/75
    dark:active:after:bg-secondaryDark/75;
  }

  /*  */
  hr {
    @apply h-[0.1rem] bg-primary;
  }
}

@layer components {
  /* header, navbar */
  #header {
    .navbar {
      @apply z-[999] 
        h-[var(--nav-small-height)]
        sm:h-[var(--nav-mid-height)]
        md:h-[var(--nav-big-height)];

      & .brand-logo {
        @apply absolute
          left-2
          h-[var(--logo-small-size)]
          w-[var(--logo-small-size)]
          rounded-full 
          border-none
          bg-gradient-to-r 
        from-primary
        to-secondary
          p-1
          shadow-sm
        shadow-primary
          outline-none
          ring-2 
        ring-primary
          transition-all
          duration-300 ease-in-out  
          hover:scale-110
          focus:scale-110
        dark:from-cf-dark 
        dark:to-cf-dark/95
          dark:shadow-sm
        dark:shadow-primary 
          dark:ring-1
        dark:ring-primary
          sm:h-[var(--logo-mid-size)] 
          sm:w-[var(--logo-mid-size)]
          md:h-[var(--logo-big-size)] 
          md:w-[var(--logo-big-size)];
      }
    }
  }

  /* hero */
  #hero {
    .hero-image {
      @apply absolute left-0 right-0 top-0 z-[100] h-full max-w-full rounded-[0.25em] bg-[url('/images/surf.png')] bg-cover bg-[35%] bg-no-repeat sm:bg-[25%] md:bg-[15%];
    }

    .hero-title-wrapper {
      @apply z-[500] mt-[var(--hero-small-mt)]
        p-[0.75rem] 
        sm:mt-[var(--hero-mid-mt)]
        md:mt-[var(--hero-big-mt)];

      & .title,
      & .sub-title {
        text-shadow: 0.15rem 0.15rem 0 hsla(240, 5%, 96%, 0.15);
      }
    }
  }

  .toggle-mobile-btn {
    @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[720deg] [&>div]:bg-transparent;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent dark:bg-transparent dark:bg-none dark:text-cf-white;
  }

  .text-gradient-always-colored {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }

  .border-gradient {
    @apply border-none bg-gradient-to-r from-primary to-secondary dark:to-secondaryDark dark:text-cf-white;
  }

  /* button-as-gradient variants */
  .btn-as-gradient {
    @apply bg-gradient-to-r
      from-primary to-secondary shadow-secondary/50 [text-shadow:_0.05em_0.05em_0_#3b82f6] dark:to-secondaryDark
      dark:shadow-secondaryDark/50;

    &:hover {
      @apply bg-gradient-to-r from-primary/95 to-secondary/95 ring-1 ring-secondary/95 dark:to-secondaryDark/95 dark:ring-secondaryDark/95;
    }
  }

  .btn-as-gradient-amber {
    @apply bg-gradient-to-r from-ternary to-ternary-light shadow-ternary/50 [text-shadow:_0.05em_0.05em_0_#52525b];

    &:hover {
      @apply bg-gradient-to-r from-ternary/95 to-ternary-light/95 ring-1 ring-ternary-light/95;
    }
  }
}
